<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ids_for_can">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDS_for_CAN"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.example.ids_for_can.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ids_for_can.ConfigActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConfigActivity"></activity>
        <service
            android:name="com.example.ids_for_can.connectivity.ObdGatewayService"
            android:launchMode="singleInstance"
            android:exported="false" />
        <service
            android:name="com.example.ids_for_can.connectivity.MockObdGatewayService"
            android:launchMode="singleInstance"
            android:exported="false" />
    </application>

</manifest>